body{
    background-color: #C1EFFF;
    margin-left: 50px;
    margin-right: 40px;
}
hr{
    border-width: 5px;
    border-style: dotted none none;
    border-color: darkgrey;
    width: 20%;
}
