body{
    background-color: #C1EFFF;
    margin-left: 3%;
    margin-right: 1%;
}
hr{
    border-width: 5px;
    border-style: dotted none none;
    border-color: darkgrey;
    width: 20%;
}
